<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
<div class="container">
  <a  class="navbar-brand">A9wa les hotels</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
    <span class="navbar-toggle-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="{{path('home1')}}" class="nav-link">hotel</a>
      </li>
      <li class="nav-item">
       <a href="{{path('home')}}" class="nav-link">client</a>
      </li>

    </ul>
  </div>
</div>
</nav>
